.warranty{
    line-height: 30px;
    margin-top: 70px;
}

.warranty-content-first-title{
    text-align: center;
}

.warranty-content-second{
    margin: 50px 0px 100px 0px;
    text-align: center;
}