.roofs-content-first{
    /* padding: 40px 0px 40px 0px; */
    background-image: url("/images/roof.jpg");
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.roofs-main-top{
    padding: 40px;
}

.roofs-main-bottom{
    padding: 40px;
}

.roofs-main-center{
    /* setting alpha = 0.3 */
    background-color: rgb(100, 159, 236, 0.7);
    /* opacity: 0.8; */
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    text-align: center;
    padding-top: 1rem;    
    padding-bottom: 1rem;    
}

.roofs-main-center h1 {
    font-weight: bold;
    color: white;
    font-size: 4vw;
}

.roofs-content-second{
    padding: 50px;
    text-align: center;
    letter-spacing: .05em;
    line-height: 30px;
}

.roofs-content-second h4{
    margin-top: 20px;
    margin-bottom: 20px;
}

.roofs-content-second button{
    letter-spacing: .1em;
    padding: 10px 30px 10px 30px;
    margin-top: 50px;
}

.roofs-content-third{
    padding: 2rem 1rem 2rem 1rem;
    /* padding-top: 2rem; */
    background-color: lightgray;
    text-align: center;
    letter-spacing: .05em;
    line-height: 30px;
    /* padding-bottom: 70px;
    padding-left: 1rem;
    padding-right: 1rem; */

}

.resp-container-iframe{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;    
    margin-top: 40px;
    margin-bottom: 40px;

}

.resp-container-iframe iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}

#how-louvered-roof-system-works {
    text-align: left;
}

#how-louvered-roof-system-works ul{
    margin-top: 20px;
}

.roofs-content-forth img {
    padding-top: 10px;
    width: 100%;
    height: 100%;
}

.roofs-content-forth {
    padding: 1rem 1rem 4rem 1rem;
    text-align: center;
}

.roofs-content-forth button {
    letter-spacing: .1em;
    padding: 10px 30px 10px 30px;
    margin-top: 50px;
}


@media only screen and (max-width: 600px) {
    .roofs-main-center{
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .roofs-main-center h1 {
        font-size: 9vw;
    }
    .roofs-main-center button{
        font-size: 1.5rem;
    }

}
