.company{
    margin: 0px 50px 0px 50px;
    letter-spacing: .05em;
    line-height: 30px;
}

h4{
    color: #007bff;
}

.company-content-first{
    text-align: center;
    margin: 70px 0px 40px 0px;
}

.col-4-image, .col-6-image{
    width: 100%;
}

.company-content-second-col6-text h4{
    margin: 30px 0px 30px 0px;
}

.company-content-second-col4{
    margin-left: 50px;
}

.company-content-third{
    margin: 40px 0px 100px 0px;
}

.company-content-third h4{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .company-content-first{
        margin-top: 0px;
    }
    .company-content-first h1{
        font-size: 1.8rem;
        padding-top: 130px;
    }
    .company-content-second h4{
        font-size: 1.2rem;
    }
    .company-content-second-col4{
        margin-left: 0;
    }
    .company-content-third h4{
        font-size: 1.2rem;
    }
}

