.footer-inner{
    padding: 40px 45px;
    background-color: lightgray;
    font-size: 20px;
}

.footer-logo{
    width: 50%;
}

.footer-estimate-button{
    margin-top: 50px;
}

.nav-link-footer, .footer-sister-company-link{
    color: #212529;
    text-decoration-line: underline;
}

.nav-link-footer:hover, .footer-sister-company-link:hover, .web-design-by a:hover{
    color: #555e68;   
}

.web-design-by a{
    color: #212529;
}

@media screen and (max-width: 600px) {
    .footer-inner{
        font-size: 1rem;
    }
    .footer-logo{
        width: 100%;
    }
    .footer-address{
        margin-top: 1rem;
    }
}