.reviews-content-first{
    text-align: center;
    margin-top: 5rem;
    line-height: 30px;
}

.reviews-content-second{
    text-align: center;
}

#reviews-content-second-inside{
    margin-left: 15rem;
    margin-right: 15rem;
}

.review-content{
    background-color: rgb(243, 239, 239);
    padding: 1rem;
    margin-bottom: 1rem;
}

.reviews-content-third-estimate-button{
    padding: 20px;
    text-align: center;
    letter-spacing: .05em;
    line-height: 30px;
    margin-bottom: 30px; 
}

.carousel-controls span{
    background-color: black;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

/* .carousel-inner{
    background-color: yellow;
} */

@media only screen and (max-width: 600px) {
    .reviews-content-first h1{
        font-size: 1.8rem;
    }
    .reviews{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #reviews-content-second-inside{
        margin-left: 1rem;
        margin-right: 1rem;
    
    }
    .carousel-controls{
        display: none;
    }
    /* #carouselExampleControls ol{
        display: none;
    } */
}


